<h1 style='color:red;'>Hi!</h1>



<p>Твой совет на сегодня</p>
<blockquote>{{prediction}}</blockquote>

<h3>При подключении к инету вбить в терминал</h3>
<p>npm install --save-dev mocha && mkdir public/vendor && cp node_modules/mocha/mocha.js public/vendor && cp node_modules/mocha/mocha.css public/vendor && npm install --save-dev chai && cp node_modules/chai/chai.js public/vendor</p>