{{#section 'title'}}
<title>Dar Pa Portfolio</title>
{{/section}}
  
   <div class="content">
    <div class="jumbotron text-center" style="background-color: rgb(231, 255, 255); color: #337ab7;">
        <div class="container">
            <h1>Hello!</h1>
            <p>I'm Darina Pa. I'm web developer, student and geek-like girl. My main feature - having my picture taken with eyes closed As I've just begun practice web programming out of university, I have this site, and some code on
                <a href="https://github.com/darinamandarina/" class="btn-git-color" role="button">GitHub</a>
            </p>
        </div>
    </div>
    <div>


        <div class="adding-info">
           <h2>Development board</h2>
            <p>... the site is been developed</p>
            <a href="http://dar-pa.tk/">To see a landing version of this site, done with Bootstrap</a><br>
			<a href ="/download/CallMeRainbow21.gif">Download a gift <i>(gif image)</i></a>
		</div>
			
    </div>
</div>
