<div class="content">
<div class="jumbotron text-center" style="background-color: rgb(231, 255, 255); color: #337ab7;">
         <div class="container">
             <h1>Hello!</h1>
             <p>I'm Darina Pa. I'm web developer, student and geek-like girl.
                 My main feature - having my picture taken with eyes closed
                 As I've just begun practice web programming out of university,
                 I have this site, and some code on
                 <a href="https://github.com/darinamandarina/" class="btn-git-color" role="button">GitHub</a>
             </p>
         </div>
     </div>    
</div>
